body {
	margin: 0;
	padding: 0;
	background: #000000
		url(#{request.contextPath}/resources/gfx/background.jpg) no-repeat;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
	color: white;
}

#main_view {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	position: relative;
	left: -9px;
	display: inline-block;
	height: 271px;
}

#banner {
	display: inline-block;
	width: 621px;
	height: 232px;
	background: url(#{request.contextPath}/resources/gfx/top-bg.png) no-repeat;
}

#logo {
	width: 333px;
	height: 245px;
}

#name {
	position: absolute;
	top: 5px;
	width: 230px;
	height: 76px;
}

#slogan {
	position: absolute;
	top: 80px;
	width: 249px;
	height: 111px;
}

#info {
	position: relative;
	top: -236px;
	left: 582px;
	display: inline-block;
	width: 463px;
	height: 271px;
	background: url(#{request.contextPath}/resources/gfx/info-bg.png) no-repeat;
}

#info_img {
	width: 206px;
	height: 168px;
}

#on {
	position: relative;
	left: 390px;
	color: #FF0000;
}

#status {
	position: absolute;
	top: 0px;
	right: 100px;
}

#status>img {
	width: 13px;
	height: 13px;
}

#menu {
	text-align: center;
	position: relative;
	left: 35px;
	width: 405px;
}

#login_form {
	display: block;
	position: relative;
	bottom: 30px;
	right: -195px;
	width: 152px;
	text-align: right;
}

#login_form>input {
	float: left;
}

#login_error {
	color: red;
	bottom: 190px;
	position: relative;
	right: 18px;
}

#login_logged {
	text-align: center;
}